@keyframes hideSplashScreen {
    0% {
        visibility: visible;
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

#splash-screen {
    z-index: 98;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
}