.header-cart-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21.5px 18px 31.5px 18px;
    position: fixed;
    width: 284px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
    .cart-header__title {
        margin-left: 18px;
        margin-right: auto;
        font-size: 15.5px;
        font-weight: bold;
    }
    .cart-header__manage {
        font-size: 14px;
        color: var(--countBackgroundColor);
    }
}