@import url(./reset.scss);

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #606060;
}

.phone {
    width: 320px;
    height: 842px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 0px 30px gray;
    background-color: white;
    display: grid;
    grid-template-rows: 100px 1582px;
    position: relative;
}

.header-bar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: fixed;
    width: 320px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    .bar {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        .logo {
            grid-column: 2;
            padding: 13px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            img {
                width: 70%;
                height: 70%;
                display: flex;
            }
        }
        .bell-box {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            .bell-dot {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #3667FB;
                color: white;
                position: absolute;
                font-size: 10px;
                font-weight: bold;
                right: 27px;
                bottom: 22px;
                box-shadow: 0px 0px 3px #3667FB;
            }
        }
    }
    .search {
        padding: 0px 16px 10px 16px;
        display: flex;
        position: relative;
        input#search {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #D3D4D7;
            padding-left: 35px;
            border-radius: 5px;
            &::placeholder {
                color: black;
                font-weight: bold;
            }
            &:hover, &:focus, &:active {
                outline: none;
                background-color: white;
            }
        }
        span {
            position: absolute;
            top: 22%;
            left: 28px;
            z-index: 1;
            color: #4f5b66;
        }
        input {
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 1000px white inset;
            }
            &::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-search-results-button, &::-webkit-search-results-decoration{
                display:none;
            }
        }
    }
}

.home-screen {
    display: grid;
    grid-template-rows: 150px 150px 150px 1000px;
}

.home-screen .ad:first-child {
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.home-screen .ad:nth-child(3) {
    img {
        padding-top: 9px;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.user-component {
    overflow-x: scroll;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 16fr 1fr;
    padding-bottom: 5px;
    .user-items {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;
        padding: 0px 0px 5px 13px;
        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            gap: 10px;
            .item__icon {
                font-size: 35px;
            };
            .item__title {
                font-size: 9px;
                font-weight: bold;
            }
        }
    }
    .another-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        color: #316BFF;
    }
}

.recommendation {
    width: 320px;
    display: grid;
    grid-template-rows: 380px 570px;
    background-color: #F1F4F6;
    padding-top: 10px;
    gap: 10px;
    .recommendation-box {
        padding: 18px 0px 0px 0px;
        background-color: white;
        .recommendation-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0px 18px 0px 18px;
            margin-bottom: 18px;
            .recommendation-title {
                font-size: 16px;
                font-weight: bold;
                display: flex;
                gap: 5px;
                i.fa-chart-simple {
                    background: linear-gradient(45deg, #E459DD, #7D4679);
                    background-clip: text; //요소의 배경이 어디까지 확장될지
                    -webkit-text-fill-color: transparent; // 텍스트의 색상이 투명해짐. 어도비의 마스크와 비슷?
                }
            }
            .recommendation-add {
                font-size: 11px;
                font-weight: bold;
                color: #316BFF;
            }
        }
    }
    .recommendation-information {
        display: grid;
        grid-template-columns: repeat(5, 150px);
        background-color: #F1F4F6;
        height: 295px;
        gap: 2px;
        overflow-x: scroll;
        width: 320px;
        .recommendation-information__box {
            display: flex;
            flex-direction: column;
            padding: 18px 18px 0px 18px;
            background-color: white;
            gap: 6px;
            .recommendation-description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                width: 114px;
                height: auto;
                line-height: 1.3;
            }
            .recommendation-price{
                font-size: 12px;
                font-weight: bold;
                color: #AE0000;
            }
            .recommendation-star {
                display: flex;
                padding-top: 3px;
                font-size: 12px;
                color: #F8AF00;
                .star-count {
                    padding-left: 5px;
                    color: #606060;
                }
            }
            .recommendation-img img {
                width: 100%;
                height: 100px;
                object-fit: cover;
                padding-bottom: 7px;
            }
            .recommendation-name {
                display: flex;
                gap: 6.5px;
                align-items: center;
                .seller-logo img {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: 1px solid #E6E6E6;
                    object-fit: cover;
                }
                .seller-name {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
    .recommendation-link {
        display: flex;
        padding: 8px 18px 0px 0px;
        justify-content: flex-end;
        font-size: 10px;
        color: #606060;
    }
}

.recommendation-box-double .recommendation {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    .recommendation-information {
        grid-template-rows: 295px 23px 265px;
        gap: 2px;
        row-gap: 0px;
        height: 583px;
        .colorbar {
            grid-column: span 5;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            .colorbar__gray {
                background-color: #F1F4F6;
                height: 2px;
                width: 722px;
            }
        }
    }
}

.nav {
    position:absolute;
    bottom: 62px;
}

.nav-box {
    height: 45px;
    width: 320px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #F1F4F6;
    padding: 10px 0px 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.nav__list {
    display: flex;
    width: 290px;
    justify-content: space-between;
}

.nav__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #969696;
    font-size: 20px;
    span {
        font-size: 10px;
        font-weight: bold;
    }
    &:nth-child(3) {
        color: #446DCC;
    }
    &:nth-child(5) {
        position: relative;
        .nav__btn-count {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: #316BFF;
            font-size: 8px;
            color: white;
            top: -11px;
            right: 0px;
            box-shadow: 0px 0px 3px #3667FB;
        }
    }
}

