:root {
    --countBackgroundColor: #316BFF;
    --selectNavColor: #446DCC;
    --redGradient: 45deg, #814B66, #F92F60;
    --blueGradient: 45deg, #2B313F, #5A8AEE;
    --purpleGradient: 45deg, #E459DD, #7D4679;
}